*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
  width: 100%;
  height: 80vh;
  margin: auto;
  display: grid;
  place-items:center;
  background: #eee;
}
.skills-bar{
	width: 600px;
	background: #fff;
	border-radius: 10px;
	padding: 25px 30px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.2);
}
.skills-bar:first-child{
	margin-top: 0px;
}
.skills-bar .bar .info{
	margin-bottom: 10px;
}
.skills-bar .bar .info span{
	font-size: 17px;
	font-weight: 550;
}
.skills-bar .bar .progress-line{
	position: relative;
	height: 10px;
	width: 100%;
	background: #f0f0f0;
	border-radius: 15px;
	transform: scaleX(0);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,.5),
	0px 1px  rgba(255,255,255,.7); 
	animation: animate 5s cubic-bezier(1,0,0.5,1) infinite;
}
@keyframes animate{
	100%{
		transform: scaleX(1);
	}
	50%{
		transform: scaleX(1);
	}
}
.skills-bar .bar .progress-line span{
	height: 100%;
	width: 90%;
	border-radius: 15px;
	background: green;
	position: absolute;
}
.skills-bar .bar .progress-line span{
	height: 100%;
	border-radius: 15px;
	background: green;
	position: absolute;
}
.skills-bar .bar .progress-line.html span{
	width: 85%;
}
.skills-bar .bar .progress-line.javascript span{
	width: 70%;
}
.skills-bar .bar .progress-line.php span{
	width: 65%;
}
.skills-bar .bar .progress-line.mysql span{
	width: 60%;
}
.skills-bar .bar .progress-line.python span{
	width: 55%;
}
